
.skate-design-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  margin-top: 20px;
}

canvas {
  border: 1px solid #ccc;
}

.controls h2 {
  margin-bottom: 10px;
}
