
.skate-design-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border-top: 1px solid #ccc;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.controls table {
  width: 100%;
  border-collapse: collapse;
}

.controls th,
.controls td {
  padding: 10px;
  text-align: center;
  vertical-align: top;
}

.control-section {
  margin-bottom: 10px;
}

.control-section h2 {
  margin-bottom: 10px;
}

.control-section ul {
  list-style-type: none;
  padding: 0;
}

.control-section ul li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.control-section ul li input {
  margin-right: 10px;
}

.control-section ul li button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.control-section ul li button:hover {
  background-color: #e9e9e9;
}

.reset-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #f44336;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #f44336;
  transition: background-color 0.3s, color 0.3s;
}

.reset-button:hover {
  background-color: #f44336;
  color: #fff;
}
