
.skate-design-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border-top: 1px solid #ccc;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.control-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-section h3 {
  margin-bottom: 10px;
  font-size: 16px; /* Smaller header size */
}

.control-section button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  margin-bottom: 5px;
}

.control-section button:hover {
  background-color: #e9e9e9;
}

.reset-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #f44336;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #f44336;
  transition: background-color 0.3s, color 0.3s;
}

.reset-button:hover {
  background-color: #f44336;
  color: #fff;
}

.toggle-controls-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #007bff;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
}

.toggle-controls-button:hover {
  background-color: #007bff;
  color: #fff;
}
